/*
  Einar Hjortdal
  https://github.com/einar-hjortdal/mombaomusic.com-2025
*/

.contact-html {
  height: 100%;
}

.contact-body {
  height: 100%;
  align-content: center;
}

.contact-header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding-top: 2.5%;
  padding-right: 2.5%;
  padding-left: 2.5%;
}

.contact-header-wrapper {
  position: relative;
}

.contact-header-logo-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
}

.contact-header-logo {
  pointer-events: none;
}

.contact-main {
  padding-left: 2.5%;
}

.contact-header-h1 {
  font-size: 300%;
  line-height: 1;
}

.contact-main-li {
  padding-bottom: 5%;
}

.contact-main-a {
  display: block;
  font-size: 240%;
  line-height: .75;
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease-in-out;
}

.contact-main-domain {
  display: none;
}

.contact-main-a:hover {
  color: #E42216;
}

.contact-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding-right: 2.5%;
  padding-bottom: 2.5%;
  padding-left: 2.5%;
}

.contact-footer-nav-li {
  display: inline-block;
  padding-right: 5%;
}

.contact-footer-nav-a {
  color: inherit;
  transition: color 0.3s ease-in-out;
}

.contact-footer-nav-a:hover {
  color: #E42216;
}

@media screen and (min-width: 576px) {
  .contact-header-logo-container {
    width: 25%;
  }

  .contact-header-h1 {
    font-size: 400%;
  }

  .contact-main-li {
    padding-bottom: 2.5%;
  }

  .contact-main-a {
    font-size: 240%;
  }

  .contact-main-domain {
    display: inline;
  }

  .contact-footer-nav-li {
    padding-bottom: unset;
    padding-right: 2.5%;
  }
}

@media screen and (min-width: 992px) {
  .contact-header-logo-container {
    width: 12.5%;
  }

  .contact-header-h1 {
    font-size: 500%;
  }
}


@media screen and (min-width: 1300px) {
  .contact-header-h1 {
    font-size: 600%;
  }

  .contact-main-a {
    font-size: 300%;
  }
}

@media screen and (min-width: 1500px) {
  .contact-header-h1 {
    font-size: 800%;
  }

  .contact-main-h2 {
    font-size: 120%;
  }

  .contact-main-a {
    font-size: 400%;
  }

  .contact-footer-nav-a {
    font-size: 120%;
  }
}

@media screen and (min-width: 2000px) {
  .contact-header-h1 {
    font-size: 900%;
  }

  .contact-main-h2 {
    font-size: 160%;
  }

  .contact-main-a {
    font-size: 500%;
  }

  .contact-footer-nav-a {
    font-size: 160%;
  }
}