body {
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  /* Disable tap highlights */
}

body {
  font-family: sans-serif;
  text-rendering: optimizeLegibility;
  line-height: 1.5;
  background-color: #141414;
  color: #FDDF0D;
}

select,
textarea,
input,
button {
  font: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  border: none;
  padding: unset;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: unset;
  padding: unset;

  /* eliminate whitespace between li children */
  font-size: 0;
}

li {
  /* restore font size to normal */
  font-size: initial;
}

.header-container {
  position: fixed;
  width: 100%;
}

.nav-ul {
  padding: 1.25% 2.5%;
}

.nav-li {
  display: inline-block;
  box-sizing: border-box;
  width: 25%;
  border: 1px solid #EBEBEB;
  transition: border-color 0.3s ease-in-out;
  padding: .25% 0;
  text-align: center;
  text-transform: uppercase;
}

.nav-ul .nav-li:first-child {
  border-right: none;
}

.nav-ul .nav-li:last-child {
  border-left: none;
}

.nav-li:hover {
  border-color: #92e2f7;
}

.nav-a {
  display: block;
  color: inherit;
  transition: color 0.3s ease-in-out;
}

.nav-a:hover {
  color: #92e2f7;
}

.logo-container-outer {
  position: fixed;
  width: 100%;
  height: 100%;
  pointer-events: none;
}


.logo-container-inner {
  position: absolute;
  width: 60%;
  height: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  width: 100%;
  height: 100%;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.main-image-ul {
  padding: 3.75% 2.5%;
}

.main-image-ul li {
  display: inline-block;
  width: 25%;
}

.main-image-ul li div {
  height: 400px;
  padding: 5%;
}

.main-image-ul li:nth-child(4n + 1) div {
  padding-left: 0;
}

.main-image-ul li:nth-child(4n + 4) div {
  padding-right: 0;
}

.main-image-ul li img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.main-video {
  width: 100%;
  padding: 5% 2.5%;
  box-sizing: border-box;
}

.footer-container {
  position: fixed;
  width: 100%;
  bottom: 0;
}

.contact-nav {}

.contact-nav-link {
  color: inherit;
}

.contact-section {
  height: 300px;
}

.contact-section-heading {
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 300%;
}