/*
  Einar Hjortdal
  Source available at https://github.com/einar-hjortdal/mombaomusic.com-2025
*/

.home-header-nav {
  position: fixed;
  width: 100%;
}

.home-header-nav-ul {
  display: none;
  padding: 1.25% 2.5%;
  font-size: 0;
}

.home-header-nav-li {
  display: inline-block;
  box-sizing: border-box;
  width: calc(100% / 6);
  font-size: initial;
}

.home-header-nav-a {
  display: block;
  width: 90%;
  margin: 0 auto;
  padding: 1.25% 0;
  color: inherit;
  border-bottom: 1px solid #FDDF0D;
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.home-header-nav-a:hover {
  color: #E42216;
  border-color: #E42216;
}

.home-main-section {
  position: fixed;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.home-main-logo-container {
  position: absolute;
  width: 60%;
  height: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-main-logo {
  width: 100%;
  height: 100%;
}

.home-main-logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.home-main-image-ul {
  padding: 10% 2.5%;
  column-count: 2;
  column-gap: 10px;
  font-size: 0;
}

.home-main-image-ul li {
  margin-bottom: 10px;
  font-size: initial;
}

.home-main-image-ul li img {
  width: 100%;
  min-height: 200px;
  object-fit: cover;
}

.home-footer {
  position: fixed;
  width: 100%;
  bottom: 0;
}

.home-footer-social-ul {
  width: fit-content;
  margin: 0 auto;
  padding: 2.5%;
}

.home-footer-social-li {
  display: inline-block;
}

.home-footer-social-object {
  pointer-events: none;
  width: 28px;
}

@media screen and (min-width: 576px) {
  .home-header-nav-ul {
    display: block;
  }

  .home-main-image-ul {
    padding: 7.5% 2.5%;
    column-count: 3;
    column-gap: 20px;
  }

  .home-main-image-ul li {
    margin-bottom: 20px;
  }

  .home-main-image-ul li img {
    min-height: 300px;
  }

  .home-footer-social-object {
    width: unset;
  }
}

@media screen and (min-width: 1300px) {
  .home-header-nav-a {
    font-size: 120%;
  }

  .home-main-image-ul {
    padding: 5% 2.5% 7.5%;
    column-count: 4;
  }

  .home-main-image-ul li img {
    min-height: 400px;
  }
}

@media screen and (min-width: 2000px) {
  .home-header-nav-a {
    font-size: 160%;
    border-bottom: 2px solid #FDDF0D;
  }

  .home-main-image-ul {
    column-gap: 40px;
  }

  .home-main-image-ul li {
    margin-bottom: 40px;
  }

  .home-main-image-ul li img {
    min-height: 800px;
  }
}