/*
  Einar Hjortdal
  https://github.com/einar-hjortdal/mombaomusic.com-2025
*/

.manifesto-body {
  background-color: #FDDF0D;
  color: #0A0A09;
}

.manifesto-header {
  padding-top: 7.5%;
}

.manifesto-header-logo-container {
  width: 70%;
  margin: 0 auto;
}

.manifesto-header-logo {
  pointer-events: none;
}

.manifesto-header-heading {
  padding: 10% 0;
  width: 70%;
  margin: 0 auto;
  font-size: 200%;
  text-align-last: justify;
  white-space: nowrap;
}

.manifesto-main {
  padding-bottom: 7.5%;
  text-align: justify;
  hyphens: auto;
}

.manifesto-main-inner {
  width: 70%;
  margin: 0 auto;
}

.manifesto-main-body {
  padding-bottom: 7.5%;
}

.manifesto-main-footer {
  text-align: center;
}

@media screen and (min-width: 576px) {
  .manifesto-header-heading {
    width: 50%;
    font-size: 400%;
  }

  .manifesto-header-logo-container {
    width: 50%;
  }

  .manifesto-main-inner {
    width: 50%;
  }

  .manifesto-main-body {
    font-size: 110%;
  }

  .manifesto-main-footer {
    font-size: 110%;
  }
}

@media screen and (min-width: 1300px) {
  .manifesto-header-heading {
    width: 40%;
    font-size: 500%;
  }

  .manifesto-header-logo-container {
    width: 40%;
  }

  .manifesto-main-inner {
    width: 40%;
  }

  .manifesto-main-body {
    font-size: 120%;
  }

  .manifesto-main-footer {
    font-size: 120%;
  }
}

@media screen and (min-width: 1500px) {
  .manifesto-header-heading {
    width: 30%;
    font-size: 600%;
  }

  .manifesto-header-logo-container {
    width: 30%;
  }

  .manifesto-main-inner {
    width: 30%;
  }

  .manifesto-main-body {
    font-size: 140%;
  }

  .manifesto-main-footer {
    font-size: 140%;
  }
}

@media screen and (min-width: 2000px) {
  .manifesto-header-heading {
    font-size: 700%;
  }

  .manifesto-main-body {
    font-size: 200%;
  }

  .manifesto-main-footer {
    font-size: 200%;
  }
}