/*
  Einar Hjortdal
  Source available at https://github.com/einar-hjortdal/mombaomusic.com-2025
*/

.tour-html {
  height: 100%;
}

.tour-body {
  height: 100%;
}

.tour-header {
  height: 100%;
  overflow: hidden;
}

.tour-header-video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.tour-main-dates-ul {
  padding: 5% 0;
}

.tour-main-dates-ul li {
  text-align: center;
  padding-bottom: 2.5%;
}

@media screen and (min-width: 576px) {
  .tour-main-dates-ul li {
    font-size: 140%;
  }
}

@media screen and (min-width: 992px) {
  .tour-main-dates-ul li {
    font-size: 160%;
  }
}

@media screen and (min-width: 1300px) {
  .tour-main-dates-ul li {
    font-size: 180%;
    padding-bottom: 1.25%;
  }
}

@media screen and (min-width: 1500px) {
  .tour-main-dates-ul li {
    font-size: 200%;
  }
}

@media screen and (min-width: 2000px) {
  .tour-main-dates-ul li {
    font-size: 360%;
  }
}